*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

:root{
     --main-color: rgb(186, 58, 19);
     --dark-color: #111;
}
body{
     background: rgba(250, 247, 245, 0.614);
}

ul{
     list-style: none;
}
a{
    text-decoration: none;
}

::-webkit-scrollbar {
     width: 6px;
}
::-webkit-scrollbar-track {
     background: transparent; 
}
::-webkit-scrollbar-thumb {
       background: var(--main-color);
}

.inner-row{
     width: 1280px;
     margin: auto;
}
.header{
     height: 85px;
     border-bottom: 1px solid rgba(220, 220, 220, 0.685);
     position: relative;
}
.header.scrolled{
       width: 100%;
       z-index: 100;
       position: fixed;
       top: 0;
       opacity: 0;
       transform: translateY(-100%);
       transition: all 0.8s ease;
       -webkit-transition: all 0.8s ease;
       -moz-transition: all 0.8s ease;
       -ms-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
       -webkit-transform: translateY(-100%);
       -moz-transform: translateY(-100%);
       -ms-transform: translateY(-100%);
       -o-transform: translateY(-100%);
       background: rgb(255, 253, 252);
}
.header.scrolled.active{
       transform: translateY(0);
       -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
       -ms-transform: translateY(0);
       opacity: 1;
       -o-transform: translateY(0);
}
.header-content{
     display: flex;
     justify-content: space-between;
     gap: 50px;
     align-items: center;
}
.header-content .logo{
     position: relative;
     width: 200px;
     height: 85px;
     display: flex;
}
.header-content .logo{
      top: -5px;
}
.header-content ul{
  display: flex;
  gap: 35px;
  align-items: center;
}
.header-content ul li a{
     font-weight: 400;
     font-size: 16px;;
     color: var(--dark-color);
     display: inline-flex;;
     position: relative;
     line-height: 85px;
     padding: 0 10px;
     cursor: pointer;
}
.header-content ul li a::before{
     content: '';
     width: 100%;
     height: 0%;
     position: absolute;
     left: 0;
    top: 0;
     background: rgba(208, 184, 177, 0.1);
     transition: all 0.7s ease;
     -webkit-transition: all 0.7s ease;
     -moz-transition: all 0.7s ease;
     -ms-transition: all 0.7s ease;
     -o-transition: all 0.7s ease;
}
.header-content ul li a::after{
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      opacity:0;
      transform: translateY(10px);
      left: 0;
      bottom: 0;
      background: var(--main-color);
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
      transition: all 0.8s ease;
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
}

.header-content ul li a:hover,
.header-content ul li a.active{
     font-weight: 500;
     color: var(--main-color);;
}
.header-content ul li a:hover::before,
.header-content ul li a.active::before{
      height: 100%;
}
.header-content ul li a:hover::after,
.header-content ul li a.active::after{
       opacity: 1;
       transform: translateY(0);
       -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
       -ms-transform: translateY(0);
       -o-transform: translateY(0);
}
.header-content .scafold-menu-btn {
      position: absolute;
      right: 0;
      top: 0;
      width: 85px;
      height: 85px;
      background: var(--main-color);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
}
.scafold-menu-btn span{
      color: whitesmoke;
      font-size: 25px;
      display: flex;
}



/* Hero Section  styles*/
#hero{
     height: auto;
     padding: 100px 0;;
}
.hero-intro{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 50px;
}
.hero-content h1{
        font-size: 66px;
        width: 80%;
        font-weight: 600;
}

.intro-statement h3{
      display: inline-block;
      padding: 10px 30px;
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: 500;
      background: rgba(204, 70, 29, 0.1);
}

.hero-intro .intro-explore{
      display: flex;
      gap: 10px;;
}
.intro-explore p{
       font-weight: 600;
       color: var(--dark-color);
       font-size: 16px;
       border: 2px solid var(--main-color);
       width: 150px;
       height: 50px;
       justify-content: center;
       align-items: center;
       display: flex;
       z-index: 5;
       position: relative;
       transition:all 0.8s ease;
       -webkit-transition:all 0.8s ease;
       -moz-transition:all 0.8s ease;
       -ms-transition:all 0.8s ease;
       -o-transition:all 0.8s ease;
       cursor: pointer;
}
.intro-explore p span{
      z-index: -1;
      position: absolute;
      width: 100%;
      transform-origin: left;
      transform: scaleX(0);
      background: var(--main-color);
      height: 100%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
}
.intro-explore p:hover{
       color: whitesmoke;
}
.intro-explore p:hover span{
     transform: scale(1) ;
     -webkit-transform: scale(1) ;
     -moz-transform: scale(1) ;
     -ms-transform: scale(1) ;
     -o-transform: scale(1) ;
}
.intro-explore span.bounce{
     display: flex;
     color: var(--main-color);
     font-size: 30px;
     animation: bounce 1s cubic-bezier(0.5, 0.05, 1, 0.5);
     -webkit-animation: bounce 1s cubic-bezier(0.5, 0.05, 1, 0.5);
     animation-direction: alternate;
     animation-iteration-count: infinite;
}

@keyframes bounce {
     0%{
           transform: translateY(-50%)     ;
           -webkit-transform: translateY(-50%)     ;
           -moz-transform: translateY(-50%)     ;
           -ms-transform: translateY(-50%)     ;
           -o-transform: translateY(-50%)     ;
}
     100%{
             transform: translateY(10px);
             -webkit-transform: translateY(10px);
             -moz-transform: translateY(10px);
             -ms-transform: translateY(10px);
             -o-transform: translateY(10px);
}
}

.hero-base{
     display: grid;
     grid-template-columns: 1fr 1.3fr 1.5fr;
     margin-top: 60px;
     gap: 30px;
}
.hero-base .hero-image{
       position: relative;
       height: 400px;
}

.hero-base .hero-shine{
     padding: 30px 30px 50px 30px;
     background: var(--main-color);
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
.hero-shine-header{
      padding: 15px 5px;
      border-bottom: 1px solid rgba(223, 152, 152, 0.604);
}
.hero-shine-header h3{
      font-weight: 500;
      line-height: 30px;
      font-size: 20px;
      color: rgb(237, 237, 237);
}
.hero-shine-texts p{
      margin-bottom: 20px;
      font-weight: 500;
      line-height: 32px;
      color: rgb(221, 221, 221);
}
.hero-shine-texts a{
      color: white;
      border-bottom: 1px solid rgba(237, 237, 237, 0.5);
      padding-bottom: 5px;
      display: inline-flex;
      align-items: center;
      gap: 5px;
}
.hero-shine-texts a span{
      display: flex;
      margin-top: 3px;
}
.hero-solutions{
      position: relative;
      display: flex;
      align-items: flex-end;
      padding: 30px;
}

.hero-solutions-texts{
      position: relative;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
}
.hero-solutions-texts p,
.hero-solutions-texts a{
      background: rgba(42, 33, 29, 0.75);
      padding: 15px 25px;
      font-size: 14px;
      color: rgb(242, 242, 242);
}

.hero-solutions-texts a{
       background: var(--main-color);
       color:rgb(237, 237, 237);

}

.hero-partners{
       margin-top: 80px;;
}
.hero-partners h3{
      font-weight: 400;
      text-align: center;
      font-size: 18px;
      color: rgb(106, 106, 106);
}
.hero-partners h3 span{
     display: inline-flex;
     color: #111;
     font-weight: 600;
}

.hero-partners-row{
      margin-top: 30px;
}
.hero-partners-row{
     max-width: 100vw;
     overflow: hidden;
     mask: linear-gradient(90deg, transparent, rgb(0, 0, 0)  10%, rgb(0, 0, 0) 90%, transparent);
     -webkit-mask: linear-gradient(90deg, transparent, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, transparent);
}
.partners-scroller{
       display: flex;
       gap: 30px;
       animation: scrollslide 80s linear infinite;
       -webkit-animation: scrollslide 80s linear infinite;
       width: max-content;
}
.partner-moja{
        width: 180px;
        height: 80px;
        position: relative;
}
.partner-moja img{
      mix-blend-mode: multiply;
      margin: auto;
}

@keyframes scrollslide{
     to{
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
}
}

#about{
      background: white;
      padding: 100px 0 0;
}
#about .inner-row{
      width: 100%;
}
.about-content{
      display: grid;
      grid-template-columns: 3fr 1.2fr;;
      align-items: end;
}
.about-col-content{
      width: 85%;
      margin: auto;
      padding-bottom: 80px;
}
.about-intro h3{
     display: inline-block;
     padding: 10px 30px;
     font-size: 16px;
     margin-bottom: 10px;
     font-weight: 500;
     background: rgba(204, 70, 29, 0.1);
}
.about-intro h2{
      font-size: 40px;
      margin: 10px 0;
      line-height: 1.3;
}
.about-intro p{
     font-size: 18px;
     line-height: 32px;
}
.about-content-image{
      position: relative;
      height: 500px;
}

.about-numbers{
       background: var(--dark-color);
}
.about-numbers-inner{
       width: 85%;
       margin: auto;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
}
.number-moja{
       color: whitesmoke;
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 10px;
       border-bottom: 1px solid rgba(190, 189, 189, 0.3);
       padding: 80px 0;
}
.number-moja:nth-child(1),
.number-moja:nth-child(2){
      border-right: 1px solid rgba(190, 189, 189, 0.3);
}
.number-moja .icon{
      width: 50px;
      height: 50px;
      position: relative;
}
.number-moja .icon img{
      filter: invert(100%);
      -webkit-filter: invert(100%);
}
.number-moja h1{
     font-size: 45px;
     font-weight: 600;
}
.number-moja p{
      font-size: 16px;
      font-weight: 400;
      color: rgb(188, 188, 188);
}






#solutions{
     padding: 100px 0;
     background: var(--dark-color);
     height: 600px;
}